@import './constants.scss';

.app-header {
  padding: $gutter-size--large;

  img {
    max-height: 33px;
  }

  border-bottom: $border-standard;
}

.button {
  box-sizing: border-box;
  padding: 12px;
  background-color: white;
  color: $label-color;
  width: calc(25% - 12px);
  height: 42px;
  margin-right: 12px;
  display: inline-block;
  text-align: center;
  border: solid 1px;

  &.active {
    background-color: $aqua;
    color: white;
    border-color: $aqua;
  }
}

h2 {
  &.h6 {
    font-size: 24px;
  }
}
