@import './constants.scss';

html {
  font-family: sans-serif;
}

.app-header {
  padding: $gutter-size--large;

  img {
    max-height: 33px;
  }

  border-bottom: $border-standard;
}

.button {
  box-sizing: border-box;
  padding: 6px 14px;
  background-color: white;
  color: $secondary-dark;
  height: 42px;
  margin-right: 12px;
  margin-bottom: 10px;
  display: inline-block;
  text-align: center;
  border: solid 1px;
  border-radius: 20px;

  &-block,
  &.active {
    background-color: $aqua;
    color: white;
    border-color: $aqua;
  }

  &-block {
    margin: 0;
    text-align: center;
    display: block;
    border-radius: 10px;
    width: 100%;
  }
}

h2 {
  &.h6 {
    font-size: 24px;
  }
}
